spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update

# DEBUG < INFO < WARN < ERROR
logging:
  level:
    root: INFO
#   pattern:
#     console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36}:%line - %msg%n"
